.filters {
    background-color: white;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
   
    
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    right: 30px;
    top: 15%;
    position: fixed;
    color: #FFFFFF;

}
.filters button:hover {
    opacity: 90%;
}

.filters>.locations, .filters>.amenities {
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px, 40px;
    
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.filters h3 {
    font-weight: 600;
    margin: 2px 20px;
}
.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 2px 20px;
}
.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    left: 0;
    width: 250px;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    list-style: none;
    display: none;
    top: 100%;
   
    
}

div:hover > .popover {
    display: block;
    cursor: pointer;
}

.popover ul {
    list-style-type: none;
}

.popover h2 {
    font-size: 16px;
}

.popover li {
    margin: 10px 0px 5px 0px; 
    padding-left: 20px;
    display: block;
    grid-row-gap: 4px;
    list-style: none;
   
}

.locations:hover > .popover {
display: block;
}

.amenities:hover > .popover {
    display: block;
}
